input[type="submit"] {
    display: block;
    width: 100px;
    border: 0;
    line-height: 35px;
    height: 35px;
    color: #fff;
    background: mediumpurple;
    font-size: 18px;
    top: 30px;
    left: 350px;
    cursor: pointer;
}

* {
    position: absolute;
    margin: 0;
    padding: 0;
}

input[type="submit" i] {
    appearance: push-button;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: -internal-light-dark(black, white);
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

